body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-columns: 55% 1fr;
  grid-template-rows: 20% 1fr 10%;
  background: url(../images/bg-desktop.svg) center center no-repeat;
  background-size: cover;
  background-color: var(--primary-dark-color);
  height: 100vh;
}

header {
  grid-area: header;
}

.container-logo {
  min-height: 4.6875rem;
}

.container-logo .logo {
  width: 13.75rem;
  margin-top: 0.625rem;
  margin-left: 1.25rem;
  cursor: pointer;
}

main {
  grid-area: main;
}

.imagem-destaque {
  margin-top: 1.25rem;
  margin-left: 1.5625rem;
}

aside {
  grid-area: aside;
}

aside .container-description {
  padding: 2.8125rem;
  margin-top: 1.25rem;
}

aside .container-description .title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: capitalize;
}

aside .container-description p {
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-top: 1.875rem;
}

button {
  color: var(--primary-dark-color);
  font-size: 1.125rem;
  width: 11.875rem;
  height: 3.125rem;
  border-radius: 1.25rem;
  margin-top: 2.1875rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  color: #fff;
  background-color: var(--primary-soft-color);
}

footer {
  grid-area: footer;
}

.icons-container {
  display: flex;
  justify-content: flex-end;
}

.icons-container a {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  border: solid #fff 1px;
  border-radius: 3.125rem;
  margin: 0.6875rem 0.5rem;
  position: relative;
  right: 2%;
  cursor: pointer;
  transition: 0.3s;
}

.icons-container a:hover {
  border: solid var(--primary-soft-color) 1px;
}

.icons-container a i {
  margin: 0.625rem;
  color: #fff;
  font-size: 1.25rem;
  transition: 0.3;
}
.icons-container a i:hover {
  color: var(--primary-soft-color);
}

@media (max-width: 880px) {
  body {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    max-width: 100%;
  }

  .container-logo .logo {
    width: 130px;
    margin-top: 30px;
    margin-left: 30px;
  }

  main {
    display: block;
    text-align: center;
  }

  main .imagem-destaque{
    margin: 0px 10px;
  }

  aside .container-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  aside .container-description .title {
    font-size: 30px;
    text-align: center;
  }

  aside .container-description p {
    font-size: 20px;
    text-align: center;
  }

  @media(max-width:475px){
    aside .container-description .title{
        font-size: 25px;
    }

    .imagem-destaque{
        margin: 0 0;
      }

    aside .container-description p{
        font-size: 18px;
    }

  }

  button {
    height: 40px;
  }
  .button {
    display: flex;
    justify-content: center;
  }

  .icons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .icons-container a {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  .icons-container a i {
    font-size: 15px;
  }
}
